<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
          <h2>Editar Reseña</h2>
          <form method="post" action="{% url 'resenia:edit' pk=resenia.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar Cambios" />
          </form>
    
          <a href="{% url 'resenia:resenia' %}">Cancelar</a>
        </div>
      </main>
</body>
</html>